/* ==================== BLACK THEME ==================== */

/* Reset */
select, textarea, input[type="text"], input[type="password"], input[type="datetime"],
	input[type="datetime-local"], input[type="date"], input[type="month"],
	input[type="time"], input[type="week"], input[type="number"], input[type="email"],
	input[type="url"], input[type="search"], input[type="tel"], input[type="color"],
	.uneditable-input {
	
}

/* White icons with optional class, or on hover/focus/active states of certain
 * elements */
[class^="icon-"], [class*=" icon-"], .icon-white, .nav-pills>.active>a>[class^="icon-"],
	.nav-pills>.active>a>[class*=" icon-"], .nav-list>.active>a>[class^="icon-"],
	.nav-list>.active>a>[class*=" icon-"], .navbar-inverse .nav>.active>a>[class^="icon-"],
	.navbar-inverse .nav>.active>a>[class*=" icon-"], .dropdown-menu>li>a:hover>[class^="icon-"],
	.dropdown-menu>li>a:focus>[class^="icon-"], .dropdown-menu>li>a:hover>[class*=" icon-"],
	.dropdown-menu>li>a:focus>[class*=" icon-"], .dropdown-menu>.active>a>[class^="icon-"],
	.dropdown-menu>.active>a>[class*=" icon-"], .dropdown-submenu:hover>a>[class^="icon-"],
	.dropdown-submenu:focus>a>[class^="icon-"], .dropdown-submenu:hover>a>[class*=" icon-"],
	.dropdown-submenu:focus>a>[class*=" icon-"] {
	background-image: url("glyphicons-halflings-white.png");
}

::selection {
	background-color: #ca142a;
	color: #fff;
}

::-moz-selection {
	background-color: #ca142a;
	color: #fff;
}

::-webkit-selection {
	background-color: #ca142a;
	color: #fff;
}

body, a, .catalog .sorting p.filter label, p.filter label, .main-item .item-info .item-text
	{
	color: #C3C3C3;
}

a:hover, .promotion-title {
	color: #ca142a;
}

blockquote, .main-login .input-error-wrapper span {
	color: #ca142a;
}

/* Default elements */
.main-body-color-mask {
	background-color: rgba(0, 79, 153, 0.04);
}

button {
	background-color: #ca142a;
}

button:hover {
	color: #ca142a;
}

.item-block-1 .overlay {
	background-color: rgba(0, 150, 255, 0.6);
}

.title-details a:hover {
	color: #ca142a;
}

.more-link {
	color: #ca142a;
}

/* Layout structure */
.main-header .logo {
	color: #ca142a;
}

.main-header .slogan {
	color: #ca142a;
}

.main-header .login .password {
	color: #ca142a;
}

.pages a {
	color: #ca142a;
}

.pages a:hover {
	background-color: rgba(0, 79, 153, 0.1);
}

.pages .active {
	background-color: #ca142a;
}

.pages .active:hover {
	background-color: #ca142a;
}

.full-size-switcher {
	background-color: #ca142a;
}

.main-footer a:hover {
	color: #ca142a;
}

.main-footer .navigation {
	color: #ca142a;
}

.main-footer .twitter a {
	color: #ca142a;
}

.main-footer .twitter a:hover {
	color: #ca142a;
}

/* Main menu */
.main-menu ul li a {
	color: #FFFFFF;
}

.main-menu li:hover>a {
	color: #ca142a;
}

.main-menu li>a:hover {
	color: #ca142a;
}

.main-menu ul ul li:hover>a {
	color: #ca142a;
}

/* Main slider */
.main-slider nav a {
	color: #ca142a;
	box-shadow: #ca142a 0 3px 0 inset, #ca142a 0 -3px 0 inset, #ca142a 3px 0
		0 inset, #ca142a -3px 0 0 inset;
}

.main-slider nav a:hover {
	background-color: #ca142a;
}

.main-slider nav .active {
	background-color: #ca142a;
}

.main-slider .title .headline {
	background-color: #ca142a;
}

.main-slider .title .intro {
	background-color: #ca142a;
}

.main-slider .title a:hover {
	color: #ca142a;
}

/* Page items */
.welcome-message-1 h2 {
	color: #ca142a;
}

.featured-items .item-block-1 .price {
	color: #ca142a;
}

.homepage-columns .blog h2 a {
	color: #ca142a;
}

.homepage-columns .best-sellers .price {
	color: #ca142a;
}

.blog-list article .title a {
	color: #ca142a;
}

.post h1, .post h2, .post h3, .post h4, .post h5, .post h6 {
	color: #ca142a;
}

.post article .title a {
	color: #ca142a;
}

.post li {
	color: #ca142a;
}

.tags .active {
	color: #ca142a;
}

.main-sidebar .best-sellers .price {
	color: #ca142a;
}

.recent-posts article .title a {
	color: #ca142a;
}

/* Catalog */
.catalog .sorting .tags .active {
	color: #ca142a;
}

.catalog .item-block-1 .price {
	color: #ca142a;
}

.quick-shop .close {
	background: #ca142a url(../images/arrow-14.png) center center no-repeat;
	color: #ca142a;
	box-shadow: #ca142a 0 3px 0 inset, #ca142a 0 -3px 0 inset, #ca142a 3px 0
		0 inset, #ca142a -3px 0 0 inset;
}

/* Item */
.main-item .item-info .details .tags a {
	color: #ca142a;
}

.main-item .item-info .price {
	color: #ca142a;
}

/* Cart */
.main-cart form .product p a:hover {
	color: #ca142a;
}

.main-cart form .price {
	color: #ca142a;
}

.main-cart form .total p {
	color: #ca142a;
}

/* Order & customer sections */
.order-wrapper .row a {
	color: #ca142a;
}

.order-wrapper .row .price {
	color: #ca142a;
}

.order-wrapper .row .total {
	color: #ca142a;
}

.main-cart form .delete * {
	background-color: #ca142a;
	background-repeat: no-repeat;
	color: white;
}

.order-wrapper .buttons span a {
	color: #ca142a;
}

.manage-addresses .edit a {
	color: #ca142a;
}

.manage-addresses .save a {
	color: #ca142a;
}

.order-history a {
	color: #ca142a;
}

.shipping-address-history .content a {
	color: #ca142a;
}

.main-login a {
	color: #ca142a;
}

.order-wrapper .buttons span a {
	color: #ca142a;
}

.manage-addresses .edit a {
	color: #ca142a;
}

.manage-addresses .save a {
	color: #ca142a;
}

.order-history a {
	color: #ca142a;
}

/* ----------------------------- ADDED ----------------------------- */
h1.title {
	color: #ca142a;
}

.search>.active>a, .search>.active>a:hover, .search>.active>a:focus,
	.search>li>a:hover, .search>li>a:focus, .nav-tabs .search>li>a:hover,
	.nav-tabs .search>li>a:focus, .nav-tabs>.active>a, .nav-tabs>.active>a:hover,
	.nav-tabs>.active>a:focus {
	color: #ca142a;
	text-shadow: rgba(0, 0, 0, 0.30) 0 1px 0;
	background-color: rgba(0, 0, 0, 0.70);
}

/*  ---  img-s  ---  */
.main-slider .paging .previous {
	width: 46px;
	height: 86px;
	background: url(arrow-3.png) 0 0 no-repeat;
	display: block;
	top: 207px;
	left: 93px;
	position: absolute;
}

.main-slider .paging .next {
	width: 46px;
	height: 86px;
	background: url(arrow-4.png) -46px 0 no-repeat;
	display: block;
	top: 207px;
	right: 93px;
	position: absolute;
}

blockquote {
	font-family: 'Comfortaa', sans-serif;
	font-size: 34px;
	line-height: 40px;
	font-weight: 200;
	color: #cc003e;
	background: url(images/ico-quotes-1.png) 0 0 no-repeat;
	margin: 34px 0 34px 75px;
	padding: 5px 0 0 55px;
}

.pages .previous span {
	margin: 2px 0 0 0;
	background: url(arrow-10.png) 0 0 no-repeat;
	width: 9px;
	height: 18px;
	display: inline-block;
	-moz-transition: all 0.2s linear 0s;
	-webkit-transition: all 0.2s linear 0s;
	-o-transition: all 0.2s linear 0s;
}

.pages .next span {
	margin: 2px 0 0 0;
	background: url(arrow-11.png) -9px 0 no-repeat;
	width: 9px;
	height: 18px;
	display: inline-block;
	-moz-transition: all 0.2s linear 0s;
	-webkit-transition: all 0.2s linear 0s;
	-o-transition: all 0.2s linear 0s;
}

.main-header .about-us .phone, .homepage-columns .about-us .phone {
	background: url(ico-phone-big-grey.png) 0 1px no-repeat;
}

.main-header .about-us .email, .homepage-columns .about-us .email {
	background: url(ico-email-big-grey.png) 0 1px no-repeat;
}

.main-title .view {
	background: url(ico-view-grey.png) 0 5px no-repeat;
}

.main-navigation {
	background: url(navigation-bg-dark.jpg) 0 0 repeat;
}

.main-navigation nav {
	background: url(navigation-bg-short-dark.png) top center no-repeat;
}

/*  ---  spacers  ---  */
.main-title {
	background: url(spacer-dark-1-980px.png) bottom left no-repeat;
}

.main-sidebar .main-title {
	background: url(spacer-dark-1-250px.png) bottom left no-repeat;
}

.main-header .row {
	background: url(spacer-dark-1-980px.png) bottom left no-repeat;
}

.main-footer .navigation .main-title {
	background: url(spacer-dark-1-136px.png) bottom left no-repeat;
}

.main-footer .twitter .main-title {
	background: url(spacer-dark-1-329px.png) bottom left no-repeat;
}

.main-footer .newsletter .main-title {
	background: url(spacer-dark-1-230px.png) bottom left no-repeat;
}

.main-footer .about-us .main-title {
	background: url(spacer-dark-1-180px.png) bottom left no-repeat;
}

.homepage-columns .blog .main-title {
	background: url(../../images/spacer-dark-1-365px.png) bottom left
		no-repeat;
}

.homepage-columns .best-sellers .main-title {
	background: url(../../images/spacer-dark-1-365px.png) bottom left
		no-repeat;
}

.homepage-columns .about-us .main-title {
	background: url(spacer-dark-1-250px.png) bottom left no-repeat;
}

.comments .main-title {
	background: url(spacer-dark-1-680px.png) bottom left no-repeat;
}

section.catalog .sorting, section.catalog.right .sorting {
	background: url(spacer-dark-1-718px.png) bottom left no-repeat;
}

section.catalog.wide .sorting {
	background: url(spacer-dark-1-980px.png) bottom left no-repeat;
}

.main-cart .titles {
	background: url(spacer-dark-1-980px.png) bottom center no-repeat;
}

.order-wrapper h3 {
	background: url(spacer-dark-1-980px.png) bottom center no-repeat;
}

.order-wrapper .billing-address h3 {
	background: url(../../images/spacer-dark-1-430px.png) bottom center
		no-repeat;
}

.order-wrapper .shipping-address h3 {
	background: url(../../images/spacer-dark-1-430px.png) bottom center
		no-repeat;
}

.order-wrapper .titles {
	background: url(spacer-dark-1-980px.png) bottom center no-repeat;
}

.order-history .title {
	background: url(spacer-dark-1-680px.png) bottom center no-repeat;
	border: none;
}

.shipping-address-history .content h3 {
	background: url(spacer-dark-1-250px.png) bottom center no-repeat;
}

.guest-login h3 {
	background: url(../../images/spacer-dark-1-365px.png) bottom center
		no-repeat;
}

@media only screen and (min-width: 768px) and (max-width: 959px) {
	.main-title {
		background: url(spacer-dark-1-718px.png) bottom left no-repeat;
	}
	.main-header .row {
		background: url(spacer-dark-1-718px.png) bottom left no-repeat;
	}
	.main-header .menu {
		background: url(spacer-dark-1-718px.png) top left no-repeat;
	}
	.main-footer .newsletter .main-title {
		background: url(spacer-dark-1-150px.png) bottom left no-repeat;
	}
	.main-header .row {
		background: url(spacer-dark-1-718px.png) bottom left no-repeat;
	}
	.main-header .menu {
		background: url(spacer-dark-1-718px.png) top left no-repeat;
	}
	.main-footer .newsletter .main-title {
		background: url(spacer-dark-1-150px.png) bottom left no-repeat;
	}
	.homepage-columns .about-us .main-title {
		background: url(spacer-dark-1-718px.png) bottom left no-repeat;
	}
	.comments .main-title {
		background: url(spacer-dark-1-418px.png) bottom left no-repeat;
	}
	.main-cart .titles {
		background: url(spacer-dark-1-718px.png) bottom center no-repeat;
	}
}

@media only screen and (max-width: 767px) {
	.main-title {
		margin: 0 0 23px 0;
		background: url(spacer-dark-1-300px.png) bottom left no-repeat;
	}
	.main-sidebar .main-title {
		background: url(spacer-dark-1-300px.png) bottom left no-repeat;
	}
	.main-header .row {
		background: url(spacer-dark-1-300px.png) bottom left no-repeat;
	}
	.main-header .menu {
		background: url(spacer-dark-1-300px.png) top left no-repeat;
	}
	.main-footer .twitter .main-title {
		background: url(spacer-dark-2-300px.png) bottom left no-repeat;
	}
	.main-footer .newsletter .main-title {
		background: url(spacer-dark-2-300px.png) bottom left no-repeat;
	}
	.main-footer .about-us .main-title {
		background: url(spacer-dark-2-300px.png) bottom left no-repeat;
	}
	.homepage-columns .blog .main-title {
		background: url(spacer-dark-1-300px.png) bottom left no-repeat;
	}
	.homepage-columns .about-us .main-title {
		background: url(spacer-dark-1-300px.png) bottom left no-repeat;
	}
	.comments .main-title {
		background: url(spacer-dark-1-418px.png) bottom left no-repeat;
	}
	.catalog .sorting {
		background: url(spacer-dark-1-300px.png) bottom center no-repeat;
	}
}

.nav-tabs {
	background: url(spacer-dark-1-980px.png) no-repeat scroll left
		bottom transparent;
}

.accordion-heading {
	background: url(spacer-dark-1-300px.png) bottom left no-repeat;
}

.main-header .row {
	background: url(spacer-dark-1-980px.png) bottom left no-repeat;
}

.item-block-3 {
	background: url(navigation-bg-dark.jpg) 0 0 repeat;
	border: 1px solid #333333;
}

/*  ---  checkout  ---  */
.main-content .header {
	background-color: rgba(0, 0, 0, 0.35);
}

.main-content .header .item .text h3, .main-content .header h6,
	.main-content .header .right h4 {
	color: #FFF;
	text-shadow: #323232 0 1px 0;
}

.main-cart form .buttons .checkout, .button-1 {
	background-color: #ca142a;
}

.main-cart form .buttons .checkout:hover, .button-1:hover {
	color: #ca142a;
	text-shadow: rgba(0, 0, 0, 0.3) 0 1px 0;
	background-color: rgba(0, 0, 0, 0.85);
}

.button-1:hover, .next-step b a, .order-id a, .main-content .header .right h2,
	.main-content .header .item p {
	color: #ca142a;
	text-shadow: #646464 0px 0;
}

.next-step b a:hover {
	color: #ca142a;
}

.message-success td, .order-id a {
	color: #ca142a;
}

.order-id a:hover {
	color: #ca142a;
}

.title-details {
	text-shadow: #323232 1px 0;
}

.title-details .time {
	color: #747474;
}

.main-footer-wrapper {
	border-top: 1px solid #323232;
}

.homepage-columns .blog .items .item, .recent-posts article, .main-cart form .row
	{
	border-top: #2C2C2C 1px solid;
}

.main-item .item-info .details {
	border-top: #2C2C2C 1px solid;
	border-bottom: #2C2C2C 1px solid;
}

.main-header {
	text-shadow: #323232 0 1px 0;
}

/*.main-header .menu a {
 text-shadow: #323232 0 1px 0;
 }*/
.main-title {
	color: #FFFFFF;
	text-shadow: #323232 0 1px 0;
}

.item-block-1 h2 a, div.selector span, .main-cart form a.increase,
	.main-cart form a.decrease {
	color: #323232;
}

.main-cart form a.increase:hover, .main-cart form a.decrease:hover {
	color: #ca142a;
	background-color: #F0F0F0;
}

.nav-tabs>li>a:hover, .nav-tabs>.active>a, .nav-tabs>.active>a:hover,
	.nav-tabs>.active>a:focus {
	color: #ca142a;
}

.accordion-inner a.active {
	color: #ca142a;
}

.main-header .partners div.active {
	border: 1px solid rgba(0, 150, 255, 0.63);
}

span.temp-color, .color {
	color: #ca142a;
}

.main-header .menu .cart {
	background: url(glyphicons_202_shopping_cart_white.png) 0px 0px
		no-repeat;
}

.main-header .menu a.checkout, a.button-1.custom-font-1 {
	background-color: #ca142a;
}

.main-header .menu a.checkout:hover, a.button-1.custom-font-1:hover {
	color: #ca142a;
}